@keyframes revealing{
    0%{
        opacity: 0;
        /* filter: blur(50px); */
        transform: translateY(100%);
    }
    50%{
        opacity: 0.5;
        /* filter: blur(25px); */
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        /* filter: blur(0px); */
        transform: translateY(0%);
    }
}

.stacking-container {
    position: relative;
    /* height: calc(100vh * 4); */
}

.image {
    
    position: sticky;
    top: 0;
    height: 90vh;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img {
    transition: transform 0.5s ease-out;
    object-fit:contain;
}
.blur-overlay{
    position: fixed;

}
.sec{
    width: 100%;
    height: 100vh;
    display: flex;
    animation: revealing;
    animation-timeline: view(block);
    animation-range: cover 0% cover 50%;
    margin: 0px;
}